In [15]:
import numpy as np
import pandas as pd

In [18]:
df = pd.DataFrame([[1.4, np.nan], [7.1, -4.5], [np.nan, np.nan], [0.75,- 1.3]],
                 index=['a', 'b', 'c', 'd'],
                 columns=['one', 'two']
                 )
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [20]:
df.sum() # soma com o index

one    9.25
two   -5.80
dtype: float64

In [21]:
df.sum(axis='columns')

a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

In [22]:
df.mean(axis='columns', skipna=False)

a      NaN
b    1.300
c      NaN
d   -0.275
dtype: float64

In [24]:
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [26]:
df.mean(axis='columns', skipna=True) # Calcula a média independente se não tiver em comum

a    1.400
b    1.300
c      NaN
d   -0.275
dtype: float64

In [28]:
df.idxmax() # estatísticas indiretas como o valor do índice em que os valores mínimo e máximo são encontrados

one    b
two    d
dtype: object

In [29]:
df.cumsum()

    one  two
a  1.40  NaN
b  8.50 -4.5
c   NaN  NaN
d  9.25 -5.8

In [31]:
df.describe() # descreve

            one       two
count  3.000000  2.000000
mean   3.083333 -2.900000
std    3.493685  2.262742
min    0.750000 -4.500000
25%    1.075000 -3.700000
50%    1.400000 -2.900000
75%    4.250000 -2.100000
max    7.100000 -1.300000

In [32]:
# Correlação e covariância

In [34]:
# pip install pandas-datareader

In [37]:
import pandas_datareader.data as web

In [49]:
all_data = {ticker: web.get_data_yahoo(ticker)
           for ticker in ['AAPL', 'IBM', 'MSFT', 'GOOG']}
price = pd.DataFrame({ticker: data['Adj Close']
                     for ticker, data in all_data.items()})
volume = pd.DataFrame({ticker: data['Volume']
                     for ticker, data in all_data.items()}) # cada ticker e data coloca ali no ticker: data

In [53]:
returns = price.pct_change()
returns.tail()

                AAPL       IBM      MSFT      GOOG
Date
2021-09-20 -0.021361 -0.006803 -0.018575 -0.017294
2021-09-21  0.003428 -0.009977  0.001699  0.004528
2021-09-22  0.016872  0.012484  0.012822  0.009252
2021-09-23  0.006719  0.015598  0.003282  0.006301
2021-09-24  0.000613  0.005558 -0.000701  0.005686

In [55]:
returns['MSFT'].corr(returns['IBM'])

0.5149299341714848

In [56]:
returns['MSFT'].cov(returns['IBM'])

0.00014469738205423455

In [57]:
returns.MSFT.corr(returns.IBM) # mesmo jeito

0.5149299341714848

In [58]:
returns.corr()

          AAPL       IBM      MSFT      GOOG
AAPL  1.000000  0.442045  0.737131  0.664346
IBM   0.442045  1.000000  0.514930  0.482690
MSFT  0.737131  0.514930  1.000000  0.774432
GOOG  0.664346  0.482690  0.774432  1.000000

In [59]:
returns.cov()

          AAPL       IBM      MSFT      GOOG
AAPL  0.000361  0.000137  0.000240  0.000212
IBM   0.000137  0.000268  0.000145  0.000133
MSFT  0.000240  0.000145  0.000295  0.000224
GOOG  0.000212  0.000133  0.000224  0.000283

In [60]:
returns.corrwith(returns.IBM)

AAPL    0.442045
IBM     1.000000
MSFT    0.514930
GOOG    0.482690
dtype: float64

In [61]:
returns.corrwith(volume)

AAPL   -0.077304
IBM    -0.103694
MSFT   -0.057271
GOOG   -0.122930
dtype: float64

In [62]:
# Valores únicos, contadores de valores e pertinência

In [64]:
obj = pd.Series(['c', 'a', 'd', 'a', 'a', 'b', 'b', 'c', 'c'])
uniques = obj.unique()
uniques

array(['c', 'a', 'd', 'b'], dtype=object)

In [66]:
obj

0    c
1    a
2    d
3    a
4    a
5    b
6    b
7    c
8    c
dtype: object

In [67]:
obj.value_counts()

a    3
c    3
b    2
d    1
dtype: int64

In [69]:
pd.value_counts(obj.values, sort=False)

a    3
d    1
c    3
b    2
dtype: int64

In [70]:
obj

0    c
1    a
2    d
3    a
4    a
5    b
6    b
7    c
8    c
dtype: object

In [71]:
mask = obj.isin(['b', 'c'])

In [72]:
mask

0     True
1    False
2    False
3    False
4    False
5     True
6     True
7     True
8     True
dtype: bool

In [74]:
obj[mask] # aparece apenas os True

0    c
5    b
6    b
7    c
8    c
dtype: object

In [75]:
to_match = pd.Series(['c', 'a', 'b', 'b', 'c', 'a'])
to_match

0    c
1    a
2    b
3    b
4    c
5    a
dtype: object

In [77]:
unique_vals = pd.Series(['c', 'b', 'a'])
unique_vals

0    c
1    b
2    a
dtype: object

In [79]:
pd.Index(unique_vals).get_indexer(to_match)

array([0, 2, 1, 1, 0, 2], dtype=int64)