In [1]:
# Pandas trabalha com dados tabulares e heterogêneos(diferentes tipos)
# Numpy trabalha com dados numéricos homogêneos em arrays

In [21]:
import pandas as pd
import numpy as np

In [4]:
# Series: array unidimensional, array associado de rótulos (labels) de dados, chamado de índice
obj = pd.Series([4, 7, -5, 3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [5]:
obj[0]

4

In [6]:
obj.values

array([ 4,  7, -5,  3], dtype=int64)

In [8]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [10]:
obj2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [11]:
obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [12]:
obj2['a']

-5

In [14]:
obj2['d'] = 6 # Alterando
obj2

d    6
b    7
a   -5
c    3
dtype: int64

In [16]:
obj2[['c', 'a', 'd']] # conjunto

c    3
a   -5
d    6
dtype: int64

In [19]:
obj2 > 0

d     True
b     True
a    False
c     True
dtype: bool

In [17]:
obj2[obj2 > 0]

d    6
b    7
c    3
dtype: int64

In [18]:
obj2 * 2

d    12
b    14
a   -10
c     6
dtype: int64

In [22]:
np.exp(obj2)

d     403.428793
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

In [23]:
'b' in obj2 # pergunta se tem o índice b no obj2

True

In [25]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 1600, 'Utah': 5000}
sdata

{'Ohio': 35000, 'Texas': 71000, 'Oregon': 1600, 'Utah': 5000}

In [27]:
obj3 = pd.Series(sdata)
obj3

Ohio      35000
Texas     71000
Oregon     1600
Utah       5000
dtype: int64

In [28]:
states = ['California', 'Ohio', 'Oregon', 'Texas']
states

['California', 'Ohio', 'Oregon', 'Texas']

In [30]:
obj4 = pd.Series(sdata, index=states) # sobrescrever e adiciona e deixa em ordem
obj4

California        NaN
Ohio          35000.0
Oregon         1600.0
Texas         71000.0
dtype: float64

In [31]:
pd.isnull(obj4)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [32]:
pd.notnull(obj4)

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [33]:
obj4.isnull()

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [34]:
obj3

Ohio      35000
Texas     71000
Oregon     1600
Utah       5000
dtype: int64

In [37]:
obj4

California        NaN
Ohio          35000.0
Oregon         1600.0
Texas         71000.0
dtype: float64

In [39]:
obj3 + obj4 # Soma apenas os valores que tem, caso se não tiver o mesmo index no outro aparece um NaN

California         NaN
Ohio           70000.0
Oregon          3200.0
Texas         142000.0
Utah               NaN
dtype: float64